/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

body {
	background-color: #EBE8E4;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

nav {
	background-image: url(../images/star-banner.png);
	display: block;
	overflow: hidden;
    min-width: 600px;
    position: fixed;
    width: 100%;
}

nav img{
	vertical-align: middle;
	margin: 25px;
	transition: transform .6s, margin .3s;
	cursor: pointer;
    width:20px;
    height: 20px;

}


#externalLinks {
   float: right;
}

nav img:hover{
	transform: rotate(360deg);
}

nav  > ul
{
	display: inline-block;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: -5px;
	transition: all .4s; 
}

nav > ul > li:not(.single) > a:after{
	content: "\2193";
	margin-left: 5px;
}

nav > ul > li:hover > a:after{
	visibility: hidden;
}

nav > ul > li > a {
	color: #aaa;
	display: block;
    padding: 25px 24px;
	text-decoration: none;
    transition: padding .3s;
}


nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

nav > ul > li > div {
	background-color: rgb( 40, 44, 47 );
	border-radius: 0 0 4px 4px;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	width: 165px;
	transition: top .4s;
    z-index: 10;
    top: 105px;
    margin-top: 6px;
}


.upCaret:before 
{
    content: "";
    position: absolute;
    top: -6px;
    left: 53px;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: rgb( 40, 44, 47 ) transparent;
    display: block;
    width: 0;
    z-index: 0;
}

nav > ul > li > div ul > li {
	display: block;
}

nav > ul > li > div ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

nav > ul > li:hover > div {
	opacity: 1;
	visibility: visible;
    top: 63px;
}

#container div:first-child 
{
    margin-top: 75px;
}

#container {
	padding: 10px 10px;
}

#container .inner
{
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	max-width: 900px;
	margin: 10px auto;
}

h3
{
	font-size: 36px;
	font-weight: 500;
	color: #aaa;
    width: 40%;
    margin: 0 0 4px 0;
    border-bottom: ridge;
    border-color: rgb(39, 224, 98);
    border-width: 1px;
       
}

img.navMin 
{
    margin: 10px 15px;
}

a.navMin {
    padding: 10px 24px;
}

