/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

body {
	background-color: #EBE8E4;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.NavBar {
	display: block;
	overflow: hidden;
    min-width: 600px;
    width: 100%;
	background-color: #222;
	margin-bottom: 25px;
}

.NavBar .externalLinks {
   float: right;
}

.NavBar > ul{
	display: inline-block;
}

.NavBar > ul > li {
	display: inline-block;
	list-style-type: none;
	transition: all .4s; 
}

.NavBar > ul > li > a {
	color: #aaa;
	display: block;
    line-height: 50px;
	height: 50px;
	text-decoration: none;
	padding: 0 10px;
	box-sizing: content-box;
}

.NavBar > ul.internalLinks > li > a {
	margin-left: 20px;
}

.NavBar > ul.externalLinks > li > a {
	margin-right: 20px;
}

.NavBar > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

.NavBar img{
	vertical-align: middle;
	margin: 10px 20px 10px 20px;
	transition: transform .6s, margin .3s;
	cursor: pointer;
}

.NavBar img:hover{
	transform: rotate(360deg);
}



#containerMain {
	padding: 10px 10px;
}

#containerMain > div
{
	border-radius: 5px;
	padding: 20px;
	max-width: 900px;
	min-width: 500px;
	margin: 10px auto;
}

#containerMain h3
{
	font-size: 40px;
	font-weight: bold;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
}

.nextPrev,
.current{
	width: 	500px;
	margin: 10px auto;
}

.nextPrev {
	text-align: center;
}

#sldNext,
#sldPrev{
	display: inline-block;
	padding: 20px;
	font-size: 120px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sldNext:hover,
#sldPrev:hover{
	font-weight: 700;
	cursor: pointer;
}

.SectionSlideshow-enter {
  opacity: 0;
}


/* hack to prevent 2 sections from showing at the same time */
.sectionWrapper .current{
    display: none;
}
.sectionWrapper .current:first-child{
	display: block;
}

.SectionSlideshow-enter.SectionSlideshow-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.SectionSlideshow-leave {
  display:none;
}

.SectionSlideshow-leave.SectionSlideshow-leave-active {
  display:none;
}

#containerMain p{
	padding: 10px 0px;
	font-size: 20px;
}